.div {
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 9.5rem;
}

.button {
  border: 0;
  margin: 2px 4.9px;
  background-color: #f9c536;
  color: #000000;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 20%;
  width: 2rem;
}

.button:hover {
  font-weight: 600;
  color: #000000;
  transform: scale(1.1);
  cursor: pointer;
}
